{
  "env": {
    "browser": false,
    "node": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "prettier",
    "react",
    "@typescript-eslint",
    "jsdoc",
    "@typescript-eslint"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".d.ts", ".tsx"]
      }
    }
  },
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "type-imports",
        "disallowTypeAnnotations": false
      }
    ],
    "no-empty": "error",
    "eqeqeq": "error",
    "curly": "error",
    "object-curly-spacing": ["error", "always"],
    "template-curly-spacing": ["error", "never"],
    "array-bracket-newline": ["error", { "multiline": true }],
    "array-bracket-spacing": ["error", "never"],
    "computed-property-spacing": ["error", "never"],
    "no-dupe-else-if": "error",
    "consistent-return": "off",
    "no-else-return": "error",
    "no-lonely-if": "error",
    "capitalized-comments": ["error"],
    "line-comment-position": ["error", { "position": "beside" }],
    "multiline-comment-style": ["error", "starred-block"],
    "spaced-comment": ["error", "always"],
    "no-dupe-args": "error",
    "no-multi-str": "error",
    "prefer-template": "error",
    "no-unused-expressions": "error",
    "no-extra-parens": ["error", "all", { "ignoreJSX": "all" }],
    "space-before-function-paren": "error",
    "space-in-parens": ["error", "never"],
    "linebreak-style": ["off"],
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "func-names": ["error", "as-needed"],
    "no-underscore-dangle": "off",
    "no-control-regex": "off",
    "react/react-in-jsx-scope": "off",
    "global-require": "off",
    "import/extensions": "off",
    "jsdoc/check-access": 1,
    "jsdoc/check-alignment": 1,
    "jsdoc/check-param-names": 1,
    "jsdoc/check-property-names": 1,
    "jsdoc/check-tag-names": 1,
    "jsdoc/check-types": 1,
    "jsdoc/check-values": 1,
    "jsdoc/empty-tags": 1,
    "jsdoc/implements-on-classes": 1,
    "jsdoc/multiline-blocks": 1,
    "jsdoc/newline-after-description": 1,
    "jsdoc/no-multi-asterisks": 1,
    "jsdoc/no-undefined-types": 1,
    "jsdoc/require-jsdoc": 1,
    "jsdoc/require-param": 1,
    "jsdoc/require-param-description": 1,
    "jsdoc/require-param-name": 1,
    "jsdoc/require-param-type": 1,
    "jsdoc/require-property": 1,
    "jsdoc/require-property-description": 1,
    "jsdoc/require-property-name": 1,
    "jsdoc/require-property-type": 1,
    "jsdoc/require-returns": 1,
    "jsdoc/require-returns-check": 1,
    "jsdoc/require-returns-description": 1,
    "jsdoc/require-returns-type": 1,
    "jsdoc/require-yields": 1,
    "jsdoc/require-yields-check": 1,
    "jsdoc/tag-lines": 1,
    "jsdoc/valid-types": 1
  }
}
